.ListGroup-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-buttons > span {
    margin-left: 1rem;
}

.checkBox {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkBox:hover {
    background: green;
    border: 2px solid black;
}

.checkBox-checked {
    background: green;
    border: 2px solid black;
}

.deleteBtn {
    background: none;
}

.deleteBtn:hover {
    color: white;
    background-color: red;
}

#newTodo {
    text-align: center;
    background: transparent;
    border: none;
}

.done {
    text-decoration: line-through;
}